
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
/* 
body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #94d6d6
  } */
    
/* Title Styling:  */
* {
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Rubik', sans-serif;
  margin-top: -600px;
  height: 600vh;
  width: 100vw;
  background-color: #03061a;
  color:#B5DEFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Rubik', sans-serif;
  /* font-size: 25vmin; */
  /* line-height: 70vmin; */
}

.gradient-text {
  color: transparent;
  background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #E7FBBE 33%, #E7FBBE 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);
  background-size: 50%;
  background-clip: text;  
  -webkit-background-clip: text;

  animation: expand-rev 0.5s ease forwards;

  cursor: pointer;
  margin: 1rem;
  float: left;
  position: fixed;
  top: 20px;
}

.gradient-text:hover {
  animation: expand 0.5s ease forwards;
}

@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 325%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}
  #app-header {
      /* display: flex; */
      float:left;
      /* justify-content: center; */
      opacity: .8;
      height: 5rem;
      padding-top: 1rem;
    }

    .album-card {
      cursor: pointer;
    }

    .album-card:hover {
      cursor: pointer;
      color: #BAABDA;
    }
  
    button {
      font-family: 'Rubik', sans-serif;
      cursor: pointer;
      position: relative;
      background-color:#BAABDA;
      border: solid 5px #BAABDA;
      border-radius: 7px;
      height: 3rem;
      width: max-content;
      color: whitesmoke;
      font-size: 15px;
      justify-self: center;
    }
    button:hover {
      font-family: 'Rubik', sans-serif;
      cursor: pointer;
      position: relative;
      background-color:#E7FBBE;
      border: solid 5px #E7FBBE;
      border-radius: 7px;
      height: 3rem;
      width: max-content;
      color: #03061a;
      font-size: 15px;
      justify-self: center;
    }
  
    .remove {
      position: relative;
      background: transparent;
      height: auto;
      width: auto;
      justify-self: center;
    }
    
    .container {
      background-color: #bdfdfa;
      padding: 1rem;
      width: 225px;
      height: 250px;
      display: block;
      opacity: .8;
      margin: auto
    }
    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }


  #album-form {
    width: 250px;
    height: 250px;
    float: left;
    margin: 1rem;
    float: left;
    position: fixed;
    top: 100px;
    margin-right: 360px;
    display: block;
    background-color: #B5DEFF;
    border-radius: 15px;

  }

  #search {

    float: left;
    margin: 1rem;
    float: left;
    margin: 1rem;
    float: left;
    position: fixed;
    top: 100px;
    margin-right: 360px;
    display: block;
  }

  .form-container {
    display: flex;
    margin: 1rem;
    float: left;
    text-align: center;
    justify-content: center;
  }
  

  .signup-form{
    text-align: center;
  }

  #album-title{
   margin: 1rem;
   margin-left: -325px;
    /* display: center; */
  }

  #genre-title{
    padding-left: 60px;
  } 

  /* #album-list{
    padding-left: 80px;
  } */

  #genre-list{
    float: left;
    margin: 1rem;
    float: left;
    margin: 1rem;
    float: left;
    position: fixed;
    top: 100px;
    margin-right: 360px;
    display: block;
  
  }

  .toggleInfo {
    display: none;

  }

 .albumData{
  border: solid 2px #BAABDA;
  border-radius: 15px;
  padding: 10px;
  font-size: 30px;

 }

